07.Supervised_Final_Assembly/**
08.Centromere_Annotation/**
09.Nuclear_Gene_Annotation/**
10.Mitochondrial_Gene_Annotation/**
11.TE_Annotation/**
11A.**
12.Core_X_Element_Annotation/**
13.Y_Prime_Element_Annotation/**
14.Gene_Orthology_Identification/**
15.Annotation_Integration/**
tools/**
LRSDAY/**
RMRB/**
results/**
input/**
resources/**
logs/**
misc/**
.snakemake
.snakemake/**
*\~
*~
#*#
.[#]*[#]
